@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: "Poppins";
}
@media (min-width: 641px) {
  .hero-section {
    background-image: url("../../public/img/hero.png");
    background-size: cover;
    background-position: center;
  }
}
.create-business-card-section {
  background-image: url("../../public/img/bg-two.png");
  background-size: cover;
  background-position: center;
  background-position: 10%;
}

@media (max-width: 641px) {
  .hero-section {
    background-image: url("../../public/img/hero-two.png");
  }

  .canvas-width {
    width: 300px !important;
  }

  .canvas-width-chart {
    width: 300px !important;
    height: 300px !important;
  }
}
